<div>
  <h2>Points Test</h2>
  <span></span>
</div>
<div class="diff_panel">
  Are you married? Mention the current status
  <div class="option_panel">
    <select type="select" id="umer_foralert" name="AgeSelect">
      <option value="-2000">Annulled Marriage</option>
      <option value="-2000">Common-Law</option>
      <option>Divorced / Separated</option>
      <option>Legally Separated</option>
      <option>Married</option>
      <option>Never Married / Single</option>
      <option>Widowed</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  Select the right option, if your spouse or common-law partner is permanent
  resident or a citizen of Canada
  <div class="option_panel">
    <select type="select" id="umer_foralert" name="AgeSelect">
      <option value="-2000">No</option>
      <option value="-2000">Yes</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  Is your spouse/common-law partner coming withyou to Canada?
  <div class="option_panel">
    <select type="select" id="umer_foralert" name="AgeSelect">
      <option value="-2000">No</option>
      <option value="-2000">Yes</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  <h3>Age <b style="color:red">*</b></h3>
  <ul>
    <li>
      In case you have received Invitation to apply, mention your age on the
      date you received the Invitation.<br />
      OR
    </li>
    <li>
      If you wish to complete the Express Entry profile, mention your age at
      present.
    </li>
  </ul>
  <div class="option_panel">
    <select type="select" id="umer_foralert" name="AgeSelect">
      <option>17 years of age or less</option>
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
      <option>24</option>
      <option>25</option>
      <option>26</option>
      <option>27</option>
      <option>28</option>
      <option>29</option>
      <option>30</option>
      <option>31</option>
      <option>32</option>
      <option>33</option>
      <option>34</option>
      <option>35</option>
      <option>36</option>
      <option>37</option>
      <option>38</option>
      <option>39</option>
      <option>40</option>
      <option>41</option>
      <option>42</option>
      <option>43</option>
      <option>44</option>
      <option>45 years of age or more</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  <h3>What is your educational qualification?</h3>
  <p>Mention the highest Educational qualification for which you:</p>
  <ul>
    <li>
      Obtained a <strong>Canadian degree, diploma or certificate</strong> or
    </li>
    <li>
      Had an Educational Credential Assessment (ECA),in case you completed your
      studies outside Canada. (ECAs must be from an approved assessing
      authority, in the last 5 years)
    </li>
  </ul>
  <p>
    Note: a Canadian degree, diploma or certificate must either have been
    receivedfrom arecognized Canadian university, college, trade or technical
    school, or other institute in Canada. Distance learning will be accepted
    only if it made up less than half your study.
  </p>
  <div class="option_panel">
    <select type="select" id="umer_foralert" name="AgeSelect">
      <option>None, or less than secondary (high school)</option>
      <option>Secondary diploma (high school graduation)</option>
      <option
        >One-year program at a university, college, trade or technical school,
        or other institute</option
      >
      <option
        >Two-year program at a university, college, trade or technical school,
        or other institute</option
      >
      <option
        >Bachelor's degree (three or more year program at a university, college,
        trade or technical school, or other institute)</option
      >
      <option
        >Two or more certificates, diplomas or degrees. One must be for a
        program of three or more years</option
      >
      <option
        >Master's degree, or professional degree needed to practice in a
        licensed profession (see Help)</option
      >
      <option>Doctoral level university degree (PhD)</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  <h3>Have you earned a Canadian degree, diploma or certificate?</h3>
  <p>Note: to answer yes:</p>
  <ul>
    <li>
      English or French as a Second Language must not have made up more than
      half your study
    </li>
    <li>
      you must not have studied under an award that required you to return to
      your home country after graduation to apply your skills and knowledge
    </li>
    <li>
      you must have studied at a school within Canada (foreign campuses don’t
      count)
    </li>
    <li>
      you had to be enrolled full time for at least eight months, and have been
      physically present in Canada for at least eight months
    </li>
  </ul>
  <p>
    Note: a Canadian degree, diploma or certificate must either have been
    receivedfrom arecognized Canadian university, college, trade or technical
    school, or other institute in Canada. Distance learning will be accepted
    only if it made up less than half your study.
  </p>
  <div class="option_panel">
    <select type="select" id="umer_foralert">
      <option>No</option>
      <option>Yes</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  <h3>Have you earned a Canadian degree, diploma or certificate?</h3>
  <p>Note: to answer yes:</p>
  <ul>
    <li>English or French as a Second Language must not have made up more than half your study</li>
    <li>you must not have studied under an award that required you to return to your home country after graduation to apply your skills and knowledge </li>
    <li>you must have studied at a school within Canada (foreign campuses don’t count)</li>
    <li>you had to be enrolled full time for at least eight months, and have been physically present in Canada for at least eight months</li>
  </ul>
  <p>
    Note: a Canadian degree, diploma or certificate must either have been
    receivedfrom arecognized Canadian university, college, trade or technical
    school, or other institute in Canada. Distance learning will be accepted
    only if it made up less than half your study.
  </p>
  <div class="option_panel">
    <select type="select" id="umer_foralert">
      <option>No</option>
      <option>Yes</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>
<div class="diff_panel">
  <h3>Select the right option to describe this level of education.</h3>
  <div class="option_panel">
    <select type="select" id="umer_foralert">
      <option>Secondary (high school) or less</option>
      <option>One- or two-year diploma or certificate</option>
      <option>Degree, diploma or certificate of three years or longer OR a Master’s, professional or doctoral degree of at least one academic year</option>
    </select>
  </div>
  <strong>Score: <span id="app_type_Score">0</span></strong>
</div>

--------------------------------------------------------------------------------------------------
<div class="crs-form_wrapper">
  <form id="crs-form" role="form">
    <div id="quest_5_block" class="form-group hidden_start" style="display: block;">
      <p class="crs_txt"><strong>5)	Official languages: English and French are the official languages of Canada</strong></p>
      <p class="crs_txt"><strong>Submit the language test results (the results must be less than 2 years old) for all programs under Express Entry, even if English or French is your 1st language.</strong></p>
      <div id="quest_5_i_block" style="display: block;">
        <label class="crs_labels" for="quest_5_st">i. Are your test results less than 2 years old?</label>
        <select id="quest_5_st" name="quest_5_st" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="B">No</option>
          <option value="A">Yes</option>
        </select>
      </div>
      <div id="quest_5_i_a" class="form-group hidden_start" style="display: block;">
        <label class="crs_labels" for="quest_5_a">ii.	Select the language test in which you appeared for your first official language?</label>
        <select id="quest_5_a" name="quest_5_a" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">CELPIP-G</option>
          <option value="B">IELTS</option>
          <option value="C">TEF Canada</option>
          <option value="D">TCF Canada</option>
        </select>
      </div>
      <div id="quest_5_i_b" class="form-group hidden_start" style="display: block;">
        <p class="crs_txt">Enter your test scores:</p>
        <label class="crs_labels" for="quest_5_b_s">Speaking:</label>
        <select id="quest_5_b_s" name="quest_5_b_s" class="form-control"><option value="nonselected" label="Select...">Select...</option><option value="H" "="">16-20</option><option value="G" "="">14-15</option><option value="F" "="">12-13</option><option value="E" "="">10-11</option><option value="D" "="">7-9</option><option value="C" "="">6</option><option value="B" "="">4-5</option><option value="A" "="">0-3</option></select>
        <label class="crs_labels" for="quest_5_b_l">Listening:</label>
        <select id="quest_5_b_l" name="quest_5_b_l" class="form-control"><option value="nonselected" label="Select...">Select...</option><option value="H" "="">549-699</option><option value="G" "="">523-548</option><option value="F" "="">503-522</option><option value="E" "="">458-502</option><option value="D" "="">398-457</option><option value="C" "="">369-397</option><option value="B" "="">331-368</option><option value="A" "="">0-330</option></select>
        <label class="crs_labels" for="quest_5_b_r">Reading:</label>
        <select id="quest_5_b_r" name="quest_5_b_r" class="form-control"><option value="nonselected" label="Select...">Select...</option><option value="H" "="">549-699</option><option value="G" "="">524-548</option><option value="F" "="">499-523</option><option value="E" "="">453-498</option><option value="D" "="">406-452</option><option value="C" "="">375-405</option><option value="B" "="">342-374</option><option value="A" "="">0-341</option></select>
        <label class="crs_labels" for="quest_5_b_w">Writing:</label>
        <select id="quest_5_b_w" name="quest_5_b_w" class="form-control"><option value="nonselected" label="Select...">Select...</option><option value="H" "="">16-20</option><option value="G" "="">14-15</option><option value="F" "="">12-13</option><option value="E" "="">10-11</option><option value="D" "="">7-9</option><option value="C" "="">6</option><option value="B" "="">4-5</option><option value="A" "="">0-3</option></select>
      </div>
      <div id="quest_5_iii" class="form-group hidden_start" style="display: block;">
        <label class="crs_labels" for="quest_5_ii_select">iii. Is any other language results you have?</label>
        <p class="crs_txt">If your answer is yes, which language test did you appear in for your 2nd official language?</p>
        <p class="crs_txt">The language Test results should not be less than 2 years old.</p>
        <select id="quest_5_ii_select" name="quest_5_ii_select" class="form-control"><option value="nonselected" label="Select...">Select...</option><option value="A">CELPIP-G</option><option value="B">IELTS</option><option value="C">not applicable</option></select>
      </div>
      <div id="quest_5_ii_block" class="form-group hidden_start" style="display: none;">
        <p class="crs_txt"><strong>Enter your test scores for:</strong></p>
        <label class="crs_labels" for="quest_5_ii_s">Speaking:</label>
        <select id="quest_5_ii_s" name="quest_5_ii_s" class="form-control"></select>
        <label class="crs_labels" for="quest_5_ii_l">Listening:</label>
        <select id="quest_5_ii_l" name="quest_5_ii_l" class="form-control"></select>
        <label class="crs_labels" for="quest_5_ii_r">Reading:</label>
        <select id="quest_5_ii_r" name="quest_5_ii_r" class="form-control"></select>
        <label class="crs_labels" for="quest_5_ii_w">Writing:</label>
        <select id="quest_5_ii_w" name="quest_5_ii_w" class="form-control"></select>
      </div>
    </div>
    <div id="quest_6_block" class="form-group hidden_start" style="display: block;">
      <p class="crs_txt"><strong>6)	Work Experience</strong></p>
      <div id="quest_6_items">
        <label class="crs_labels" for="quest_6_i_q">i. How many years of skilled work experience you have in Canada in the last 10 years? </label>
        <p class="crs_txt">It needs to be paid and full-time (or an equal amount in part-time) experience.</p>
        <p class="crs_txt"><strong>Note:</strong> National Occupational Classification (NOC) is the official occupation list of all the jobs available in the Canadian labour market. It defines each job according to skill type, group and level.</p>
        <p class="crs_txt">"Skilled work" in the NOC is:</p>
        <ul class="crs_list">
          <li class="crs_list_item">managerial jobs (NOC Skill Level 0)</li>
          <li class="crs_list_item">professional jobs (NOC Skill Type A)</li>
          <li class="crs_list_item">technical jobs and skilled trades/manual work (NOC Skill Type B)</li>
        </ul>
        <p class="crs_txt"> If you are not sure about the NOC relevant to your job, you may <a href="https://www.visasavenue.com/wp-content/uploads/Canada-Occupation-List-2016.pdf">check your NOC</a> here or contact Visas Avenue expert to know about the same.</p>
        <select id="quest_6_i_q" name="quest_6_i_q" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">None or less than a year</option>
          <option value="B">1 year</option>
          <option value="C">2 years</option>
          <option value="D">3 years</option>
          <option value="E">4 years</option>
          <option value="F">5 years or more</option>
        </select>
      </div>
      <div id="quest_6_ii" class="form-group hidden_start" style="display: block;">
        <label class="crs_labels" for="quest_6_ii_s">ii. Mention total years of foreign skilled work experience in last 10 years</label>
        <p class="crs_txt">It needs to be paid, full-time (or an equal amount in part-time), and in only one occupation (NOC skill type 0, A or B).</p>
        <select id="quest_6_ii_s" name="quest_6_ii_s" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">None or less than a year</option>
          <option value="B">1 year</option>
          <option value="C">2 years</option>
          <option value="D">3 years or more</option>
        </select>
      </div>
    </div>
    <div id="quest_7_block" class="form-group hidden_start" style="display: block;">
      <label class="crs_labels" for="quest_7">7)	Mention if you have a qualification certificate obtained from a Canadian province, territory or federal body?</label>
      <p class="crs_txt"><strong>Note: </strong>A certificate of qualification allows the individuals to work in some skilled trades in Canada, however, only provinces, territories and a federal body can issue such certificates. In order to get such certificate, individuals need to get their training, trade experience and skills assessedand then clear a certification exam.</p>
      <p class="crs_txt"> Individuals usually need to visit the province or territory to get assessed. Candidates may also require experience and training from an employer in Canada. </p>
      <p class="crs_txt">However, it should not be confused with nomination from a province or territory, as nomination is different thing.</p>
      <select id="quest_7" name="quest_7" class="form-control">
        <option value="nonselected" label="Select...">Select...</option>
        <option value="A">No</option>
        <option value="B">Yes</option>
      </select>
    </div>
    <div id="quest_8_block" class="form-group hidden_start" style="display: block;">
      <p class="crs_txt"><strong>Additional Points</strong></p>
      <label class="crs_labels" for="quest_8">8)	Mention if you have a valid job/employment offer supported by a Labour Market Impact Assessment (LMIA)</label>
      <p class="crs_txt">A valid job offer must be </p>
      <ul class="crs_list">
        <li class="crs_list_item">full-time</li>
        <li class="crs_list_item">in a skilled job listed as Skill Type 0, or Skill Level A or B in the 2011 National Occupational Classification</li>
        <li class="crs_list_item">supported by a Labour Market Impact Assessment (LMIA) or exempt from needing one</li>
        <li class="crs_list_item">for 1 year from the time you become a permanent resident</li>
      </ul>
      <p class="crs_txt">An employment offer isn’t valid in case your employer is:</p>
      <ul class="crs_list">
        <li class="crs_list_item">an embassy, high commission or consulate in Canada or</li>
        <li class="crs_list_item">on the list of ineligible employers.</li>
      </ul>
      <p class="crs_txt">The validity of the job offer depends on different factors, depending on your case. </p>
      <select id="quest_8" name="quest_8" class="form-control">
        <option value="nonselected" label="Select...">Select...</option>
        <option value="A">No</option>
        <option value="B">Yes</option>
      </select>
    </div>
    <div id="quest_8_nex" class="form-group hidden_start" style="display: block;">
      <label class="crs_labels" for="quest_8_a">8a)	Select the NOC skill type or level of the job offer you have</label>
      <p class="crs_txt"><a href="https://www.visasavenue.com/canada-immigration/canada-occupation-listnoc/">Know more about NOC Skill Type</a></p>
      <select id="quest_8_a" name="quest_8_a" class="form-control">
        <option value="nonselected" label="Select...">Select...</option>
        <option value="A">NOC Skill Type 00</option>
        <option value="B">NOC Skill Level A or B or  any Type 0 other than 00</option>
        <option value="C">NOC Skill Level C or D</option>
      </select>
    </div>
    <div id="quest_9_block" class="form-group hidden_start" style="display: block;">
      <label class="crs_labels" for="quest_9">9)	Mention if you havea nomination certificate received from any Canadian province or territory </label>
      <select id="quest_9" name="quest_9" class="form-control">
        <option value="nonselected" label="Select...">Select...</option>
        <option value="A">No</option>
        <option value="B">Yes</option>
      </select>
    </div>
    <div id="quest_10_sib" class="form-group hidden_start" style="display: block;">
      <label class="crs_labels" for="quest_10_i">10)	Do you/your spouse/common law partner (in case they are coming to Canada with you) have minimum 1 brother or sister, who is a citizen or permanent resident of Canada?</label>
      <p class="crs_txt"><strong>Note: If you select yes, such brother or sister need to be:</strong></p>
      <ul class="crs_list">
        <li class="crs_list_item">at least 18 years or above</li>
        <li class="crs_list_item">related to you or your partner by blood, marriage, common-law partnership or adoption</li>
        <li class="crs_list_item">have a parent in common with you or your partner</li>
      </ul>
      <p class="crs_txt">A brother or sister is related to you by:</p>
      <ul class="crs_list">
        <li class="crs_list_item">blood (biological)</li>
        <li class="crs_list_item">adoption</li>
        <li class="crs_list_item">marriage (step-brother or step-sister)</li>
      </ul>
      <select id="quest_10_i" name="quest_10_i" class="form-control">
        <option value="nonselected" label="Select...">Select...</option>
        <option value="A">No</option>
        <option value="B">Yes</option>
      </select>
    </div>
    <div id="quest_spouse_block" class="form-group">
      <div id="quest_10_block" class="form-group hidden_start" style="display: none;">
        <label class="crs_labels" for="quest_10">11)	What is the highest level of education for which your spouse or common-law partner's has:</label>
        <ul class="crs_list">
          <li class="crs_list_item"><strong>earned a Canadian degree, diploma or certificate; or</strong></li>
          <li class="crs_list_item"><strong>had an Educational Credential Assessment (ECA)? (ECAs must be from an approved agency, in the last five years)</strong></li>
        </ul>
        <p class="crs_txt">To get the correct number of points, make sure you choose the answer that best reflects your case. For example:</p>
        <p class="crs_txt"> If you have TWO Bachelor’s degrees, or one Bachelor’s AND a two year college diploma, choose – “Two or more certificates, diplomas, or degrees. One must be for a program of three or more years.”</p>
        <select id="quest_10" name="quest_10" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">None, or less than secondary (high school)</option>
          <option value="B">Secondary diploma (high school graduation)</option>
          <option value="C">One-year program at a university, college, trade or technical school, or other institute</option>
          <option value="D">Two-year program at a university, college, trade or technical school, or other institute</option>
          <option value="E">Bachelor's degree (three or more year program at a university, college, trade or technical school, or other institute)</option>
          <option value="F">Two or more certificates, diplomas or degrees. One must be for a program of three or more years</option>
          <option value="G">Master's degree, or professional degree needed to practice in a licensed profession</option>
          <option value="H">Doctoral level university degree (PhD)</option>
        </select>
      </div>
      <div id="quest_11_block" class="form-group hidden_start">
        <label class="crs_labels" for="quest_11">12) In the last ten years, how many years of skilled work experience in Canada does your spouse/common-law partner have? </label>
        <p class="crs_txt">It must have been paid, full-time (or an equal amount in part-time), and in one or more NOC 0, A or B jobs.</p>
        <select id="quest_11" name="quest_11" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">None or less than a year</option>
          <option value="B">1 year</option>
          <option value="C">2 years</option>
          <option value="D">3 years</option>
          <option value="E">4 years</option>
          <option value="F">5 years or more</option>
        </select>
      </div>
      <div id="quest_12_block" class="form-group hidden_start">
        <label class="crs_labels" for="quest_12_i">13) i) Did your spouse or common-law partner take a language test? If so, which one?</label>
        <p class="crs_txt">Test results must be less than two years old.</p>
        <select id="quest_12_i" name="quest_12_i" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
          <option value="A">CELPIP-G</option>
          <option value="B">IELTS</option>
          <option value="C">TEF Canada</option>
          <option value="D">TCF Canada</option>
          <option value="E">not applicable</option>
        </select>
      </div>
      <div id="quest_12_ii__block" class="form-group hidden_start">
        <p class="crs_txt"><strong>ii) Enter the test scores for:</strong></p>
        <label class="crs_labels" for="quest_12_ii__s">Speaking:</label>
        <select id="quest_12_ii__s" name="quest_12_ii__s" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
        </select>
        <label class="crs_labels" for="quest_12_ii__l">Listening:</label>
        <select id="quest_12_ii__l" name="quest_12_ii__l" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
        </select>
        <label class="crs_labels" for="quest_12_ii__r">Reading:</label>
        <select id="quest_12_ii__r" name="quest_12_ii__r" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
        </select>
        <label class="crs_labels" for="quest_12_ii__w">Writing:</label>
        <select id="quest_12_ii__w" name="quest_12_ii__w" class="form-control">
          <option value="nonselected" label="Select...">Select...</option>
        </select>
      </div>
    </div>
    <button id="calculatebutton" type="submit" class="btn btn-default">Calculate your score</button>
  </form>
</div>