<div>
  <h1>Contact Us</h1>

  <div class="space-20"></div>
  <h2>Corporate Office</h2>
    <div>
      <h3>India, New Delhi</h3>
      <p>
        Visas Avenue Pvt Ltd.<br />
        Suite No. – 301-312,Third Floor,<br />
        Block – F International<br />
        Trade Tower,Nehru Place,<br />
        New Delhi-110019<br />
        Tel-011-48447777-46194650
      </p>
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>
</div>
