.diff_panel {
    padding: 5px 15px;
    background: #EFEFEF;
    border: 1px solid #DDD;
    margin: 15px 5px;
}

.option_panel {
    padding: 5px;
    margin: 2px;
    background: #FFF;
    font-size: 13px;
}
.main_score_totaling {
    text-align: center;
    padding: 20px;
    background: #EFEFEF;
    margin: 5px;
}
.main_score_totaling h3 {
    background: #555;
    padding: 3px 8px 0 8px;
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    font-weight: normal;
    text-transform: uppercase;
    margin-top: 0px;
}