<p class="para-font">
  With the Immigration Calculator you can calculate your Canada and Australia
  Immigration point score in less than a minute. Just select the right option
  from the drop downs given in the below calculator and calculate your points
  score by clicking on the Calculate button in the end.&nbsp;After selecting,
  the essential fields (i.e. regarding age, education, work experience, language
  skills, marital status, etc.)from the given drop downs, the calculator will
  show your total express entry CRS score on clicking the calculate button given
  in the end of the calculator.
</p>
<!-- <p-tabView>
  <p-tabPanel header="Check Eligibility" leftIcon="pi pi-calendar">
    <app-calculators></app-calculators>
  </p-tabPanel>
  <p-tabPanel header="Login" leftIcon="pi pi-inbox">
    <app-login></app-login>
  </p-tabPanel>
</p-tabView> -->
